<div class="dijitTooltip dijitTooltipRight mx-tooltip" id="dojoTooltip">
    <div class="dijitTooltipContainer dijitTooltipContents" style="display:none" dojo-attach-point="containerNode" role="alert" align="left"></div>
    <div class="dijitTooltipContainer dijitTooltipContents">
        <div class="mx-tooltip-content" dojo-attach-point="contentNode"></div>
        <div class="mx-tooltip-prepare" dojo-attach-point="prepareNode"></div>
    </div>
    <div class="dijitTooltipConnector" dojo-attach-point="connectorNode"></div>
</div>